<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <h1>Click on Each Product for More</h1>
      <ul class="row list-unstyled">
        <% for(var i=0; i<products.length; i++) {%>
          <%if(products[i].user == user.id){ %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/product/<%= products[i]._id%>">
              <img class="img-fluid" src="<%= products[i].image%>">
            </a>
          </li>
          <!-- more than three days to expiry (show days left) -->
          <% if(Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 * 60 * 24))
          > 3) { %>
          <p class="xsentence">
            <%= products[i].name%> expires in <%= Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 *
            60 * 24)) %> days!
          </p>
          <!-- 
            --less than 3 days to expiry (show hours left to expiry)
          -->
          <%} else if (Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 * 60)) < 48 && Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 * 60)) > 1) { %>
          <p class="xsentence">
            <%= products[i].name%> expires in <%= Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 *
            60)) %> hours!
          </p>
          <!-- 
            -less than one hour to expiry (show minutes left to expiry)
          -->
          <%} else if (Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 * 60)) <
          60 && Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 * 60)) > 0) { %>
          <p class="xsentence ">
            <%= products[i].name%> expires in <%= Math.floor((products[i].expiryDate - Date.now())/(1000 * 60))
            %> minutes!
          </p>
          <% } else if (Math.floor((products[i].expiryDate - Date.now())/(1000 * 60 * 60)) <
            0) { %>
            <p class="xsentence beingAlerted">
              <%= products[i].name%> has expired %>
            </p>
            <% } %>
        <% } %>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>