<%- include('partials/header') -%>
<div class="container">
  <!-- <div class="row mt-5"> -->
      <div class="col-6">
          <div class="username">
            <!-- transforms the usersname to first letter uppercase and the rest lowercases, uinitially username would display is the exact cases used during signUp -->
              <p class="mt-2">Hello <strong><%= user.userName[0].toUpperCase() + user.userName.slice(1).toLowerCase() %></strong></p>

              <% if(products.length === 0) { %>
                <p>You have not uploaded any products!</p>

                <%} else if(products.length === 1) { %>
                  <p>You are currently tracking the expiry of <%= products.length %> product!</p>
                
              <%} else { %>
                <p>You are currently tracking the expiry of <%= products.length %> products!</p>
                
                <%} %>
          </div>
          <div class="mt-3">
            <h2>Add a Product</h2>
            <form action="/product/createProduct" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="manufactureDate" class="form-label">Date of Manufacture</label>
                <input type="date" class="form-control" id="manufactureDate" name="manufactureDate">
            </div>
            <div class="mb-3">
              <label for="expiryDate" class="form-label">Expiry Date</label>
              <input type="date" class="form-control" id="expiryDate" name="expiryDate">
          </div>


          
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Product Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Add</button>
            </form>
          </div>
      </div>
    </div>
</div>
<%- include('partials/footer') -%>