<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= product.name %></h2>
      <img class="img-fluid" src="<%= product.image%>" />
      <div class="row justify-content-between">
        <%if(product.user == user.id){ %>
        <form
          action="/product/deleteProduct/<%= product.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary" type="submit">Delete as Used</button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <h2>Product Description</h2>
      <p><%= product.description %></p>
      <p>
        Manufacture Date: <%= product.manufactureDate.toLocaleDateString() %>
      </p>
      <p>Expiry Date: <%= product.expiryDate.toLocaleDateString() %></p>
      <!-- 
        --more than 3 days to expiry (show days left to expiry)
      -->
      <% if(Math.floor((product.expiryDate - Date.now())/(1000 * 60 * 60 * 24))
      > 3) { %>
      <p class="expiryDate">
        Expires in <%= Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
        60 * 24)) %> days!
      </p>
      <!-- 
        --less than 3 days to expiry (show hours left to expiry)
      -->
      <%} else if (Math.floor((product.expiryDate - Date.now())/(1000 * 60 * 60
      * 24)) < 3) { %>
      <p class="expiryDate">
        Expires in <%= Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
        60)) %> hours!
      </p>
      <!-- 
        -less than one hour to expiry (show minutes left to expiry)
      -->
      <%} else if (Math.floor((product.expiryDate - Date.now())/(1000 * 60)) <
      60) { %>
      <p class="expiryDate beingAlerted">
        Expires in <%= Math.floor((product.expiryDate - Date.now())/(1000 * 60))
        %> minutes!
      </p>
      <% } %>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to All Products</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
