<%- include('partials/header') -%>
<!-- component -->
<div class="min-h-screen bg-gray-100 pt-20">
  <!-- <h2><%= product.name %></h2> -->
  <div
    class="bg-white mx-auto shadow-lg rounded-lg hover:shadow-xl transition duration-200 max-w-sm"
  >
    <img class="rounded-t-lg make-smaller" src="<%= product.image%>" alt="" />
    <div class="py-4 px-8">
      <h1
        class="hover:cursor-pointer mt-2 text-gray-900 font-bold text-2xl tracking-tight"
      >
        About Product
      </h1>
      <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">
        <%= product.description %>
      </p>
      <!-- <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">
        The product was manufactured on:<%=
        product.manufactureDate.toLocaleDateString() %>
      </p> -->
      <!-- <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">
        The product expires on: <%= product.expiryDate.toLocaleDateString() %>
      </p> -->
      <% if(Math.floor((product.expiryDate - Date.now())/(1000 * 60 * 60 * 24))
      > 3) { %>
      <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">
        Expires in <%= Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
        60 * 24)) %> days!
      </p>
      <!-- 
        --less than 3 days to expiry (show hours left to expiry)
      -->
      <%} else if (Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
      60)) < 48 && Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
      60)) > 1) { %>
      <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">
        Expires in <%= Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
        60)) %> hours!
      </p>
      <!-- 
        -less than one hour to expiry (show minutes left to expiry)
      -->
      <%} else if (Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
      60)) < 60 && Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
      60)) > 0) { %>
      <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">
        Expires in <%= Math.floor((product.expiryDate - Date.now())/(1000 * 60))
        %> minutes!
      </p>
      <% } else if (Math.floor((product.expiryDate - Date.now())/(1000 * 60 *
      60)) < 0) { %>
      <p
        class="hover:cursor-pointer py-3 text-gray-600 leading-6 expiryDate beingAlerted"
      >
        Your <%= product.name%> has expired
      </p>
      <% } %>
      <form
      action="/product/deleteProduct/<%= product.id %>?_method=DELETE"
      method="POST"
      class="col-3"
    >
      <button class="btn btn-primary" type="submit">Delete</button>
    </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
