<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= product.name %></h2>
      <img class="img-fluid" src="<%= product.image%>" />
      <div class="row justify-content-between">
        <%if(product.user == user.id){ %>
        <form
          action="/product/deleteProduct/<%= product.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= product.description %></p>
      <p>
        Manufacture Date: <%=
        `${product.manufactureDate.getDate()}/${product.manufactureDate.getMonth()
        + 1}/${product.manufactureDate.getFullYear()}` %>
      </p>
      <p>
        Expiry Date: <%=
        `${product.expiryDate.getDate()}/${product.expiryDate.getMonth() +
        1}/${product.expiryDate.getFullYear()}` %>
      </p>
      <p>
        Product Expres in <%= Math.floor((product.expiryDate - Date.now())/(1000
        * 60 * 60 * 24)) %> days!
      </p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to All Products</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
